@font-face {
  font-family: "BalooBhaijaan_Reg";
  src: url($BalooBhaijaan_Reg) format("truetype");
}

@font-face {
  font-family: "BalooBhaijaan_Bold";
  src: url($BalooBhaijaan_Bold) format("truetype");
}

body {
  font-family: "BalooBhaijaan_Reg", serif;
}

.d-editor-container--rich-editor-enabled
  .d-editor-textarea-wrapper
  textarea.d-editor-input,
.form-vertical .control-label:not(.checkbox-label) {
  font-family: "BalooBhaijaan_Reg", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BalooBhaijaan_Bold", serif;
}
